<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034872241026-33410mi4qdfgccgo4oqt0b54i8pt5dag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034872241026-33410mi4qdfgccgo4oqt0b54i8pt5dag</string>
	<key>API_KEY</key>
	<string>AIzaSyDfRZ2gs8VXUgrjIC-5dLVuHzFavsW5qGo</string>
	<key>GCM_SENDER_ID</key>
	<string>1034872241026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>anzer.arkin</string>
	<key>PROJECT_ID</key>
	<string>fitnesstrainer-3b1c5</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnesstrainer-3b1c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034872241026:ios:d98fe2bfac67aacd5e6d9b</string>
	<key>DATABASE_URL</key>
	<string>https://fitnesstrainer-3b1c5.firebaseio.com</string>
</dict>
</plist>